body {
	
	padding: 30px;
	background: white;
}

#Color{
	position: fixed;
	font: 30px arial;
	right: 560px;
	top: 30px;
}
#LineWidth{
	position: fixed;
	font: 30px arial;
	right: 295px;
	top: 30px;
}

div.Canvas{
	position: relative;
	width: 65%;
	height: 100%;
	
}
div.tools{
	position: fixed;
	top: 100px;
	width: 30%;
    left: 65%;
	
}

#myCanvas{
	border: 5px solid black;
	
}

.Color-Picker{
	margin: 5px;
	width: 150px;
	height: 30px;
	display: inline;
}
.Pen-Range{
	margin: 5px;
	margin-left: 60px;
	display: inline;
	width: 150px;
}
.button{
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;

	width: 90px;
	height: 90px;
	display: inline;
}
